:root{
/* general palette color */
--background: #40619F;
--second-background: #0051A1;
--blue-light: #9FC3E7;
--blue-white: #E0E5E9;
}

html{
   height: 100%;
    font-size: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
   min-height: 100%; 
    background-color: var(--background);
}